<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}iMovie web portal{% endblock %}</title>
        {{ encore_entry_link_tags('css/bootstrap') }}

        {{ encore_entry_link_tags('js/app') }}
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% include "header.html.twig" %}
        {% block body %}{% endblock %}
    </body>
</html>
