{% extends "base.html.twig" %}

{% set activeLink = "home" %}

{% block body %}
    <div class="container">
        <br/>
        <div class="jumbotron">
            <h1>Welcome to iMovie's portal</h1>
            <a class="btn btn-primary" role="button" href="{{ path('revoked_list') }}">Download the revocation list</a>
            <a class="btn btn-dark" role="button" href="{{ path('app_login') }}">Login</a>
	    <a class="btn btn-dark" role="button" href="{{ path('admin_home') }}">Admin interface</a>
        </div>
        <br/>
    </div>
{% endblock %}
