{% extends "user/user_base.html.twig" %}

{% block title %}Update your information - iMovie{% endblock %}

{% block user_body %}
    <div class="update-info-form">
        <h2>Update your personal information</h2>
        <p>A new certificate will be downloaded only if you change your email address.</p>
        {{ form(form) }}
        <a href="{{ path('user_home') }}">Back to your homepage</a>
    </div>
{% endblock %}

