{% extends "user/user_base.html.twig" %}

{% block title %}User portal - iMovie{% endblock %}

{% block user_body %}
    <h1>Welcome back, {{ app.user.firstname }}</h1>
    <p>You will find below the different actions you can do to manage your account.</p>
    <br />
    <div class="card-deck">
        <div class="card">
            <div class="card-header">Update my information</div>
            <div class="card-body">
                <p class="card-text">Update your personal information via our web-based form. Upon completion you will receive the certificate along with your private key.</p>
                <a href="{{ path('update_user_information') }}" class="btn btn-primary">Update</a>
            </div>
        </div>
        <div class="text-white bg-danger card">
            <div class="card-header">Revoke my certificate</div>
            <div class="card-body">
                <p class="card-text">
                    If you lost your private key or for any other reason, you can click the link below to revoke your
                    certificate.
                    <br/>
                    <br/>
                    <strong>WARNING! This operation is irreversible.</strong>
                </p>
                <a href="{{ path('revoke_user_certificate') }}" class="btn btn-light">Revoke</a>
            </div>
        </div>
    </div>
{% endblock %}

